body {
	font-family: 'Muli', sans-serif;
	color: 	#292b2c;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 18px;
}
html, body {
	scroll-behavior: smooth;
	overflow-x: hidden;
	width: 100%;
}
body::-webkit-scrollbar {
	display: none;
}
.container-fluid {
	position: relative;
}
.container {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.bg {
	height: 100vh;
	position: relative;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: left center;
	transition: all 0.5s;
}
@media (max-width: 576px) {
	.bg {
		background-size: 150%;
	}
}

.bg .col {
	text-align: center;
}
.bg .col img {
	width: 15px;
	margin-right: 10px;
	filter: invert(100%) sepia(1%) saturate(345%) hue-rotate(235deg) brightness(118%) contrast(86%);
}
/*.bg .row p:nth-child(2) {
	letter-spacing: 5px;
}*/

@media (max-width: 576px) {
	.bg .row p:first-child {
		font-size: 30px;
		padding: 3px;
	}
}

.about img {
	height: 300px;
	object-fit: cover;
	object-position: center top;
	box-shadow: 0px 5px 30px -10px #0003;
}
.about button a {
	text-decoration: none;
	color: inherit;
}

@media (min-width: 576px) {
	.about button {
		height: 50px;
	}
}

.about h2, .about h5 {
	font-weight: 600;
}
h2 span {
	color: #4493ff;
}

.about-btn button {
	background-color: /*#00b9d6*/ #4493ff;
	box-shadow: 0px 10px 40px -10px /*rgba(0, 185, 214, 0.3)*/ #4493ff33;
	transition: all 0.5s;
	border-radius: 30px;
	font-size: 18px;
}
.about-btn button:hover,
.about-btn button:focus {
	background-color: #fff;
	color: #4493ff !important;
	box-shadow: 0px 10px 40px -10px #4493ff77;
}

.quote p:first-child {
	font-size: 30px;
	letter-spacing: 2px;
}


@media (max-width: 576px) {
	.quote p:first-child {
		font-size: 20px;
		letter-spacing: 2px;
	}
}

.skills .row p {
	padding: 13px 50px;
	margin: 15px 20px;
	background-color: #4493ff;
	border-radius: 30px;
	box-shadow: 0px 10px 30px -10px /*rgba(0, 185, 214, 0.3)*/ #4493ff33;
	transition: all 0.7s;
}
.skills .row p:hover,
.skills .row p:focus {
	background-color: #fff;
	color: #4493ff !important;
	box-shadow: 0px 10px 30px -10px /*rgba(0, 185, 214, 0.7)*/ #4493ff77;
}
@media (max-width: 576px) {
	.skills .row p {
		padding: 8px 30px;
		margin: 10px 5px;
		background-color: #4493ff;
		border-radius: 30px;
		box-shadow: 0px 10px 30px -10px rgba(0, 185, 214, 0.3);
		transition: all 0.7s;
	}
	.skills .row p:hover,
	.skills .row p:focus {
		background-color: #fff;
		color: #4493ff !important;
		box-shadow: 0px 10px 30px -10px rgba(0, 185, 214, 0.7);
	}
}

.project .row div {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.project .row div div {
	box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.3);
	transition: all 0.7s;
}
.project .row div div {
	width: 100%;
	height: 100%;
}
.project .row div div img {
	width: 100%;
	height: 100%;
	transition: all 0.5s;
}

.project .row div div div {
	display: flex;
	align-items: center;
	padding: 0 5% 0;
	text-transform: uppercase;
	width: 100%;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #4493ff;
	background: #fff;
	transition: height ease-out 0.3s;
	z-index: 2999;
}
.project .row div div div p {
	margin-bottom: 0;
	margin-right: auto;
}
.project .row div div div i {
	padding: 0 0 0 15px;
}
.project .row a {
	color: #4493ff;
}

.project .row div:hover div img {
	filter: brightness(0.7);
}

.project .row div:hover div div {
	height: 25%;
}
.project .row a:hover {
	color: #4493ff;
}

@media (max-width: 576px) {
	.project .row div div {
		font-size: 16px;
	}
}

.contact img {
	width: 25px;
	margin-right: 20px;
	filter: contrast(.6);

}

.openBtn {
	position: fixed;
	top: 2%;
	right: 1%;
}
.openBtn {
	background-color: #0000;
}
.openBtn:focus {
	box-shadow: none;
}
.openBtn img {
	filter: contrast(.5);
	width: 40px;
}
@media (max-width: 576px) {
	.openBtn img {
		width: 30px;
	}
}


.overlay {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 0;
	opacity: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
	transition: all 0.5s;
	box-shadow: 0 0 15px #0005;
}
/*.overlay > div {
	position: fixed;
	padding-top: 20%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}*/
/*.overlay img {
	position: fixed;
	top: 17%;
	border: 4px solid #eee;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}*/
/*.overlay > div > div {
	position: absolute;
}*/
/*.overlay .name {
	font-size: 30px;
	margin-bottom: 3%;
}*/

.content-menu {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content-menu a {
	white-space: nowrap;
	color: #292b2c;
	font-size: 25px;
	margin: 20px 0;
}
@media (max-width: 576px) {
	/*.overlay img {
		width: 120px;
		height: 120px;
	}*/
	/*.content-menu a {
		font-size: 18px;
	}*/
}

.load {
	width: 100vw;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	background-color: #fff;
	z-index: 9999;
	transition: all 1s;
}

@media (min-width: 768px) {
	.load img {
		max-width: 20%;
	}
}

@media (min-width: 1200px) {
	.load img {
		max-width: 10%;
	}
}